
/*---------- 変数 ----------*/
$mainColor : #ff0000;
$linear-gradient: linear-gradient(200deg, rgba(250, 143, 191,1),rgba(138, 176, 250,1));
$linear-gradient-back: linear-gradient(200deg, rgba(250, 143, 191,1),rgba(138, 176, 250,1));
/*---------- 変数 ----------*/


/*---------- extend用 ----------*/
.mask{
    background: $linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name{
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: .1rem;
    line-height: 1.1;
    margin-bottom: 15%;
    position: relative;
    &:before{
        @extend .mask;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0;
        position: absolute;
    }
}
/*---------- extend用 ----------*/


/*---------- cssまとめ ----------*/
.child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    p:first-child{
        @extend .mask;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: .2rem;
        line-height: 2;
        span{
            font-size: 1.6rem;
            margin-bottom: 5%;
            span{
                font-size: 1.4rem;
                letter-spacing: 0;
            }
        }
        .ruby{
            font-size: 1.2rem;
            letter-spacing: 0;
        }
    }
}
.text{
    >p{
        @extend .mask;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: .1rem;
        line-height: 2;
    }
}
.startCont{
    justify-content: center;
    h3{
        @extend .mask;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .3rem;
        line-height: 1.3;
        text-align: left;
        span{
            display: block;
            font-size: 1rem;
            letter-spacing: .1rem;
            margin-bottom: 3%;
        }
    }
    h3+p{
        @extend .mask;
        // color: #fff;
        // background: $linear-gradient;
        border-radius: .2rem;
        padding: 1%;
        font-size: 2.4rem;
        opacity: 1;
        position: relative;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
        letter-spacing: .2rem;
        span{
            font-size: 1.4rem;
            letter-spacing: .5rem;
        }
        &:before{
            content: "";
            width: 100%;
            height: .3rem;
            position: absolute;
            bottom: -30%;
            left: 55%;
            transform: translate(-55%,-30%);
            background: $linear-gradient;
            border-radius: 1rem;
        }
    }
}
.finish{
    background: $linear-gradient-back;
    position: relative;
    z-index: 999;
    >p{
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: .15rem;
        line-height: 2;
        position: relative;
        z-index: 2;
        text-shadow: 0.1rem 0.1rem 0.2rem #333;
    }
    .area{
        .circles{
            z-index: -1;
        }
        li{
            background: rgba(255,255,255,.3);
        }
    }
}
/*---------- cssまとめ ----------*/



/*---------- wrapper ----------*/
#wrapper{
    overflow: hidden;
    color: #333;
    /*---------- firstAnimation ----------*/
    #firstAnimation{
        height: 100vh;
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            animation-name: logo;
            animation-duration: 2.5s;
            animation-delay: 3s;
            animation-fill-mode: forwards;
            @keyframes logo {
                0%{
                    transform: scale(1);
                }
                20%{
                    transform: scale(0.9);
                }
                100%{
                    transform: scale(1.3);
                    transition: 0.1s;
                }
            }
        }
        h2{
            width: 90%;
            margin: -15% auto auto auto;
            animation-name: logo;
            animation-duration: 2s;
            animation-delay: 3s;
            animation-fill-mode: forwards;
        }
    }/*---------- firstAnimation ----------*/

    /*---------- mainCont ----------*/
    #mainCont{
        position: relative;
        overflow: auto;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        height: 100vh;
        >div{
            position: relative;
            padding: 4%;
            scroll-snap-align: start;
            height: 100vh;
        }

        /*---------- secondDescription ----------*/
        #secondDescription{
            position: relative;
            #secondDescriptionInner{
                .aiDate{
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%,-5%);
                    animation: aiDate 2s forwards;
                    animation-delay: 1s;
                    @keyframes aiDate{
                        0%{
                            opacity: 1;
                            transform: translate(-50%,-5%) scale(0);
                        }
                        100%{
                            opacity: 1;
                            transform: translate(-50%,-5%) scale(.5);
                        }
                    }
                }
            }

        }/*---------- secondDescription ----------*/


        /*---------- twoDevice ----------*/
        #twoDevice{
        }
        /*---------- twoDevice ----------*/

        /*---------- smartRing ----------*/
        #smartRing{
            #smartRingInner{
                h4{
                    @extend .name;
                    @extend .mask;
                    &:before{
                        content: "No.01";
                        top: -50%;
                    }
                }
                img{
                    width: 60%;
                    margin: 0 auto;
                    animation: roll 70s linear infinite;
                    @keyframes roll {
                        0% {
                            transform: rotate(0deg);
                        }
                        50%{
                            transform: rotate(360deg);
                        }
                        100%{
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }/*---------- smartRing ----------*/

        /*---------- smartRingDescription ----------*/
        #smartRingDescription{
            >img{
                width: 30%;
                position: absolute;
                bottom: 5%;
                right: -5%;
                opacity: .8;
                animation: rollDescription 70s linear infinite;
                @keyframes rollDescription {
                    0% {
                        transform: translate(-50%,-50%) rotate(0deg);
                    }
                    50%{
                        transform: translate(-50%,-50%) rotate(360deg);
                    }
                    100%{
                        transform: translate(-50%,-50%) rotate(0deg);
                    }
                }
            }
        }
        /*---------- smartRingDescription ----------*/

        /*---------- lens ----------*/
        #lens{
            #lensInner{
                h4{
                    @extend .name;
                    @extend .mask;
                    &:before{
                        content: "No.02";
                        top: -70%;
                    }
                }
                img{
                    width: 90%;
                    margin: 0 auto;
                    animation: lens 20s linear infinite;
                    @keyframes lens {
                        0% {
                            transform: translateY(-5%) rotate(0);
                        }
                        50%{
                            transform: translateY(10%) rotate(20deg);
                        }
                        100%{
                            transform: translateY(-5%) rotate(0);
                        }
                    }
                }
            }
        }
        /*---------- lens ----------*/

        /*---------- lensDescription ----------*/
        #lensDescription{
            >img{
                width: 30%;
                position: absolute;
                bottom: 17%;
                right: 8%;
                opacity: .8;
                animation: lens 10s linear infinite;
            }
        }
        /*---------- lensDescription ----------*/


        /*---------- twoDeviceFnish ----------*/
        #twoDeviceFnish{
            position: relative;
            #twoDeviceFinishInner{
                img{
                    position: absolute;
                }
                .bike{
                    width: 60%;
                    bottom: 10%;
                    right: -10%;
                    animation: bike 10s ease-in infinite;
                    @keyframes bike {
                        0%{
                            opacity: 0;
                            right: -30%;
                            bottom: 8%;
                        }
                        5%{
                            opacity: 1;
                        }
                        20%{
                            bottom: 13%
                        }
                        60%{
                            bottom: 12%;
                        }
                        80%{
                            bottom: 15%
                        }
                        100%{
                            bottom: 10%;
                            right: 120%;
                        }
                    }
                }
            }
        }
        /*---------- twoDeviceFnish ----------*/

        /*---------- fullDive ----------*/
        #fullDive{

        }
        /*---------- fullDive ----------*/

        /*---------- fullDiveDescription ----------*/
        #fullDiveDescription{
            position: relative;
            #fullDiveDescriptionInner{
            }
        }
        /*---------- fullDiveDescription ----------*/

        /*---------- fullDiveFinish ----------*/
        #fullDiveFinish{
            position: relative;
            #fullDiveFinishInner{
                .city01,
                .city02{
                    position: absolute;
                    animation: fadeInUp 2.5s forwards, fuwafuwa 5s ease-in-out infinite;
                }
                .city01{
                    width: 50%;
                    top: 10%;
                    left: 10%;
                    transform: translate(-10%,-10%);
                    animation-delay: 1s;
                }
                .city02{
                    width: 50%;
                    bottom: 15%;
                    right: 5%;
                    transform: translate(5%,-15%);
                    animation-delay: 1.5s;
                }
                @keyframes fadeInUp{
                    0%{
                        opacity: 0;
                        top: 10%;
                    }
                    100%{
                        opacity: 1;
                        top: 8%;
                    }
                }
                @keyframes fuwafuwa {
                    0% {
                        transform: translateY(-5%);
                    }
                    50%{
                        transform: translateY(5%);
                    }
                    100%{
                        transform: translateY(-5%);
                    }
                }
            }
        }
        /*---------- fullDiveFinish ----------*/

        /*---------- musubiai ----------*/
        #musubiai{
        }
        /*---------- musubiai ----------*/

        /*---------- musubiaiDescription ----------*/
        #musubiaiDescription{
            >p{
                @extend .mask;
                font-size: 2.4rem;
                font-weight: 700;
                letter-spacing: .2rem;
                margin-bottom: 10%;
                span{
                    display: block;
                    font-size: 1.2rem;
                    font-weight: 500;
                    letter-spacing: .1rem;
                    margin-bottom: 3%;
                }
            }
            .ai{
                width: 60%;
                margin: 0 auto;
                animation: ai 5s ease-in-out infinite;
                @keyframes ai {
                    0% {
                        transform: translateY(-5%);
                    }
                    50%{
                        transform: translateY(5%);
                    }
                    100%{
                        transform: translateY(-5%);
                    }
                }
            }
        }
        /*---------- musubiaiDescription ----------*/


        /*---------- musubiaiFinish ----------*/
        #musubiaiFinish{
            position: relative;
            #musubiaiFinishInner{
                .love{
                    width: 100%;
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%,-5%);
                    animation: love 2s forwards;
                    animation-delay: 2s;
                    @keyframes love {
                        0%{
                            opacity: 0;
                        }
                        40%{
                            opacity: .5;
                        }
                        80%{
                            opacity: .8;
                        }
                        100%{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        /*---------- musubiaiFinish ----------*/

        /*---------- allFinish_01 ----------*/
        #allFinish_01{
            >p{
                color: #ff0000;
                .place{
                    display: block;
                    font-size: 1.4rem;
                    letter-spacing: .09rem;
                    margin-bottom: 5%;
                    margin-top: -10%;
                    span{
                        font-size: 1.2rem;
                        display: block;
                        margin-bottom: 2%;
                    }
                }
                .yearDate{
                    font-weight: 700;
                    letter-spacing: 1rem;
                    line-height: 1;
                    span{
                        margin-left: 6%;
                    }
                    .year{
                        font-size: 3.8rem;
                    }
                    .date{
                        font-size: 4.8rem;
                    }
                }
            }
            .heartDown{
                position: relative;
                width: 80px;
                height: 70px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,0);
                animation: heartDown 5s forwards;
                z-index: -1;
                @keyframes heartDown{
                    0% {
                        opacity: 0;
                    }
                    20%{
                        transform: translate(-50%,-50%) rotate(-10deg) scale(.9);
                    }
                    40%{
                        opacity: 1;
                        transform: translate(-50%,-50%) rotate(10deg) scale(1);
                    }
                    80%{
                        transform:  translate(-50%,-50%) rotate(20deg) scale(.9);
                    }
                    100% {
                        top: 50%;
                        transform: translate(-50%,-50%) rotate(0deg) scale(100);
                        opacity: 0;
                    }
                }
                &:before,
                &:after{
                    position: absolute;
                    content: "";
                    left: 50px;
                    top: 0;
                    width: 50px;
                    height: 80px;
                    background: linear-gradient(95deg, #ee0979, #ff6a00);
                    border-radius: 50px 50px 0 0;
                    transform: rotate(-45deg);
                    transform-origin: 0 100%;
                }
                &:before{
                    background:#ee0979;
                }
                &:after{
                    left: 0;
                    transform: rotate(45deg);
                    transform-origin :100% 100%;
                }
            }
        }
        /*---------- allFinish_01 ----------*/

        /*---------- allFinish_02 ----------*/
        #allFinish_02{
            #allFinish_02Inner{
                p{
                    color: #ff0000;
                    font-weight: 700;
                    font-size: 2.2rem;
                    letter-spacing: .6rem;
                    line-height: 2;
                    span{
                        letter-spacing: .2rem;
                        font-weight: 700;
                        span{
                            font-size: 1.6rem;
                            letter-spacing: 0;
                        }
                    }
                }
                a{
                    span{
                        position: absolute;
                        bottom: 17%;
                        left: 50%;
                        transform: translate(-50%,-20%) rotate(-45deg);
                        width: 2.4rem;
                        height: 2.4rem;
                        border-left: .1rem solid #f00000;
                        border-bottom: .1rem solid #ff0000;
                        animation: sdb 3s infinite;
                        opacity: 0;
                        box-sizing: border-box;
                        &:nth-of-type(1){
                            animation-delay: 0s;
                        }
                        &:nth-of-type(2){
                            bottom: 20%;
                            animation-delay: .15s;
                        }
                        &:nth-of-type(3) {
                            bottom: 23%;
                            animation-delay: .3s;
                        }
                        @keyframes sdb {
                            0%{
                                opacity: 0;
                            }
                            50% {
                                opacity: 1;
                            }
                            100% {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        /*---------- allFinish_02 ----------*/

        /*---------- allFinish_03 ----------*/
        #allFinish_03{
            #allFinish_03Inner{
                width: 100%;
                p{
                    color: $mainColor;
                    font-size: 2.6rem;
                    font-weight: 5s00;
                    letter-spacing: .2rem;
                    margin-bottom: 7%;
                    span{
                        font-weight: 600;
                    }
                }
                img{
                    width: 100%;
                }
                ul{
                    overflow: hidden;
                    li{
                        list-style-type: none;
                        position: relative;
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        top: -61%;
                        left: 64%;
                        transform: translate(-64%,-61%);
                        animation: heart 15s infinite;
                        opacity: .5;
                        &:nth-child(1){
                            animation-delay: 0;
                            opacity: 1;
                        }
                        &:nth-child(2){
                            animation-delay: 1s;
                        }
                        &:nth-child(3){
                            animation-delay: 1.5s;
                        }
                        &:nth-child(4){
                            animation-delay: 2.5s;
                        }
                        &:nth-child(5){
                            animation-delay: 3s;
                        }
                        &:nth-child(6){
                            animation-delay: 3.5s;
                        }
                        &:nth-child(7){
                            animation-delay: 4.2s;
                        }
                        &:nth-child(8){
                            animation-delay: 4.8s;
                        }
                        &:nth-child(9){
                            animation-delay: 5.5s;
                        }
                        &:nth-child(10){
                            animation-delay: 6.4s;
                        }
                        &:nth-child(11){
                            animation-delay: 7s;
                        }
                        &:nth-child(12){
                            animation-delay: 8s;
                        }
                        &:nth-child(13){
                            animation-delay: 10s;
                        }
                        @keyframes heart{
                            0%{
                                top: 61%;
                                transform: rotate(0deg);
                                opacity: 0;
                            }
                            80%{
                                opacity: 1;
                            }
                            100%{
                                top: -5%;
                                transform: rotate(720deg);
                                opacity: 0;
                                left: 68%;
                            }
                        }
                        &:before,
                        &:after{
                            position: absolute;
                            content: "";
                            left: .26rem;
                            top: 0;
                            width: .3rem;
                            height: .46rem;
                            background: linear-gradient(95deg, rgba(238,9,9,1), rgba(255,106,106,1));
                            border-radius: 5rem 5rem 0 0;
                            transform: rotate(-45deg);
                            transform-origin: 0 100%;
                        }
                        &:before{
                            background:rgba(238,9,9,1);
                        }
                        &:after{
                            left: 0;
                            transform: rotate(45deg);
                            transform-origin :100% 100%;
                        }
                    }
                }
            }
        }
        /*---------- allFinish_03 ----------*/

    }/*---------- mainCoont----------*/
}/*---------- wrapper ----------*/